@import "tailwindcss";

@theme inline {
  --font-base: 'Open Sans', 'sans-serif';
  --font-title: 'Montserrat', 'sans-serif';
  --color-dark: #2E3238;
  --color-bg-input: #FCFCFD;
  --color-stroke: #D5D8DD;
  --shadow-base: 0 4px 4px 0 rgba(0, 0, 0, 0.04);
}

*::-webkit-scrollbar{
  display: none;
}

.span, .p{
  line-height: 20px;
}

body {
  font-family: var(--font-base);
  color: var(--color-dark);
}

.wrapper{
  width: 100%;
  padding: 0 40px;
}

input, .as_input{
  background-color: var(--color-bg-input);
  border-width: 1px;
  border-color: var(--color-stroke);
  border-radius: 4px;
  border-style: solid;
  outline: none;
  appearance: none;
}

.as_input{
  padding: 4px 30px 4px 4px;
}

input{
  position: relative;
  padding: 6px 8px;
  max-height: 32px;
}

input::placeholder{
  font-size: 14px;
  line-height: 20px;
}

button{
  border-width: 1px;
  border-color: var(--color-stroke);
  border-radius: 4px;
  border-style: solid;
  max-height: 32px;
}

.small-bt{
  padding: 6px;
  aspect-ratio: 1/1;
  height: 32px;
}

header{
  border-bottom-width: 1px;
  border-bottom-color: var(--color-stroke);
}

#funcBar{
  width: 100%;
  max-width: 100%;
}

.choose{
  width: fit-content;
  background-color: #E5F4FF;
  border-width: 1px;
  border-color: #99D5FF;
  border-radius: 4px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type="date"] {
  -moz-appearance: textfield;
}

.search::after {
  content: '';
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url('/search.svg') no-repeat center center;
  background-size: 16px 16px;
}

@media screen and (max-width: 767px) {
  .search::after {
    display: none;
  }
}

.filter_search::after{
  content: '';
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url('/filter.svg') no-repeat center center;
  background-size: 16px 16px;
}